@font-face {
  font-family: 'OldNewspaperTypes';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('OldNewspaperTypes.ttf')  format('truetype');
}

body
{
	overflow-x: hidden;
	font-family: "OldNewspaperTypes";
  font-size: 18px;
}

section.bg-white
{
  background-image: url(../img/kb0Zm.jpg);
  background-size: cover;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #ababab;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}


.bg-darkest-gray {
  background-color: #222222;
}

.bg-darkest-gray h2, .timeline .timeline-heading h4/*, .timeline .timeline-body ul*/
{
  color: white;
}



.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
  max-width: 225px;
  height: auto;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}





.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100%!important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {    
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}





section {
  padding: 65px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 17px;
  font-family: "OldNewspaperTypes", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  section {
    padding: 120px 0;
  }
}




footer {
  background-color: #222222;
  color: white;
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 30px;
  font-family: "OldNewspaperTypes", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  font-size: 13px;
}

header {
  background-image: url('../img/22491853_371037639998791_6882223937397810198_n.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "OldNewspaperTypes", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "OldNewspaperTypes", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "OldNewspaperTypes", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "OldNewspaperTypes", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
header {
  /*background: url(img/header-bg2.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;*/
  /*background-attachment: fixed;*/
  -webkit-box-shadow: 0px 0px 9px 3px #000000;
  -moz-box-shadow: 0px 0px 9px 3px #000000;
  box-shadow: 0px 0px 9px 3px #000000;
}







.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #ababab;
  font-family: "OldNewspaperTypes", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #ababab;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #ababab;
  border-color: #ababab;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ababab;
}
.navbar-default .nav li a {
  font-family: "OldNewspaperTypes", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #ababab;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #ababab;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #25c68a;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

.navbar-shrink
{
  box-shadow: 0px 0px 9px 3px #000000;
}





.navbar-default .nav li a {
  font-size: 12px;
}


#gallery .img-responsive
{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

section#contact {
  background-color: #222222;
  background-image: url(../img/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
}


.section-subheading:before {
  border-top: 1px solid #000;
  content: '';
  width: 95%;
  height: 15px;
  display: block;
  margin: 0 auto;
}
.section-subheading:after {
  border-bottom: 1px solid #000;
  content: '';
  width: 95%;
  height: 15px;
  display: block;
  margin: 0 auto;
}

.bg-darkest-gray .section-subheading:before {
  border-top: 1px solid #fff;
}

.bg-darkest-gray 
.section-subheading:after {
  border-bottom: 1px solid #fff;
}

.portfolio-row
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.portfolio-row > [class*='col-']
{
  display: flex;
  flex-direction: column;
}

.portfolio-image
{
  width: 100%;
  min-height: 220px;
}

@media (min-width: 1200px)
{
  .portfolio-image
  {
    min-height: 270px;
  }
}

.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.skillbar-bar:before {
  background: #eee;
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.skillbar-bar {
  height: 3px;
  width: 0px;
  /*background: #323232;*/
  transition-property: width, background-color;
}

.skillbar-title {
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.skill-bar-percent {
  float: right;
  display: inline-block;
  color: #323232;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}


.header-icons {
  text-align: center;
  margin: 2em 0;
}
.header-icons a span {
  width: 62px;
  height: 62px;
  background: url('../images/sc-icon.png') no-repeat 0px 0px;
  display: inline-block;
  margin: 0 5px;
}
.header-icons a span.facebook {
  background-position:0px 0px;
}
.header-icons a span.facebook:hover {
  background-position:0px -62px;
}
.header-icons a span.twitter {
  background-position: -62px 0px;
}
.header-icons a span.twitter:hover {
  background-position: -62px -62px;
}
.header-icons a span.pin{
  background-position: -123px 0px;
}
.header-icons a span.pin:hover{
  background-position: -123px -62px;
}
.header-icons a span.linkedin{
  background-position: -186px 0px;
}
.header-icons a span.linkedin:hover{
  background-position: -186px -62px;
}
.header-icons a span.flickr{
  background-position: -248px 0px;
}
.header-icons a span.flickr:hover{
  background-position: -248px -62px;
}
.header-icons a span.be{
  background-position: -310px 0px;
}
.header-icons a span.be:hover{
  background-position: -310px -62px;
}

.bg-darkest-gray p
{
  color: white;
}

.timeline-body p
{
  color: #777;
}
.timeline-body ul
{
  color: white;
}