    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.excertp }}">
    <meta property="og:description" content="{{ site.excertp }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if site.title %}
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:card" value="summary">
    {% endif %}
    
    <meta name="twitter:description" content="{{ site.excertp }}" />

    <!-- Open Graph data -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/img/22491853_371037639998791_6882223937397810198_n.jpg" />

    <link rel="icon" type="image/png" href="img/favicon.png"><!-- Major Browsers -->