<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />

    <link href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css" rel="stylesheet" type="text/css"/>


    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">{{ site.description }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#who">Quién soy yo</a>
            </li>
            <li>
              <a class="page-scroll" href="#timeline">Timeline</a>
            </li>
            <li>
              <a class="page-scroll" href="#skills">Habilidades</a>
            </li>
            <li>
              <a class="page-scroll" href="#portfolio">Portfolio</a>
            </li>
            <li>
              <a class="page-scroll" href="#courses">Cursos</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contacto</a>
            </li>
            <!--<li>
              <a href="#">ESP//ENG</a>
            </li>-->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text wow zoomIn">
          <div class="intro-lead-in">Journalist & Audiovisual Communication Portfolio</div>
          <div class="intro-heading">
            <div class="element"></div>
          </div>
          <!--<div class="element"></div>-->
          <a href="#who" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </header>



    <!-- Who Section -->
    <section id="who" class="bg-white">
      <div class="container">
        <div class="row wow bounceIn">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Quién soy yo</h2>
            <h3 class="section-subheading text-muted">"No te gustan las cosas porque la gente te dice lo que se supone que debes hacer."</p>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <div class="team-member">
              <img src="img/23915576_2010170575894749_6074126873678534356_n.jpg" class="img-responsive img-circle wow rubberBand" alt="" />
              <div class="wow bounceInLeft">
                <h4>Clara Sánchez Gallego-Albertos</h4>
                <p class="text-muted">Periodista, músico y comunicadora audiovisual.</p>
                <ul class="list-inline social-buttons header-icons">
                  <li><a href="https://www.facebook.com/{{ site.social-links.facebook }}" target="_blank"><span class="facebook"></span></a>
                  </li>
                  <li><a href="https://www.twitter.com/{{ site.social-links.twitter }}" target="_blank"><span class="twitter"></span></a>
                  </li>
                  <li><a href="https://www.linkedin.com/in/{{ site.social-links.linkedin }}" target="_blank"><span class="linkedin"></span></a>
                  </li>
                  <li><a href="https://www.flickr.com/{{ site.social-links.flickr }}" target="_blank"><span class="flickr"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row wow bounceInRight">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">
              Doble titulación en Periodismo y Comunicación Audiovisual en la Universidad Carlos III de Madrid.
            </p>
            <p class="large text-muted">
              <small>(Última actualización: {{ site.time | date: '%d/%m/%y' }})</small>
            </p>
          </div>
        </div>
      </div>
    </section>



    <!-- Timeline Section -->
    <section id="timeline" class="bg-darkest-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Timeline</h2>
            <h3 class="section-subheading text-muted">"El futuro no está escrito, los unicos que pueden decir el futuro sois vosotros."</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              {% assign postsByYear = site.timelines | sort: 'date' %}
              {% for timeline in postsByYear reversed %}

              {% assign mod = forloop.index | modulo: 2 %}

              {% if mod == 1 %}
                {% assign class = "wow slideInLeft" %}
                {% assign class2 = "text-left" %}
              {% else %}
                {% assign class = "timeline-inverted wow slideInRight" %}
                {% assign class2 = "" %}
              {% endif %}

              <li class="{{ class }}">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/{{ timeline.image }}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>
                      {% assign m = timeline.date | date: "%-m" %}
                      {% case m %}
                        {% when '1' %} Enero
                        {% when '2' %} Febrero
                        {% when '3' %} Märzo
                        {% when '4' %} Abril
                        {% when '5' %} Mayo
                        {% when '6' %} Junio
                        {% when '7' %} Julio
                        {% when '8' %} Agosto
                        {% when '9' %} Septiembre
                        {% when '10' %} Octubre
                        {% when '11' %} Noviembre
                        {% when '12' %} Diciembre
                      {% endcase %}

                      {{ timeline.date | date: " %Y" }} -
                      {% if timeline.date_end %}
                        {% assign m = timeline.date_end | date: "%-m" %}
                        {% case m %}
                          {% when '1' %} Enero
                          {% when '2' %} Febrero
                          {% when '3' %} Märzo
                          {% when '4' %} Abril
                          {% when '5' %} Mayo
                          {% when '6' %} Junio
                          {% when '7' %} Julio
                          {% when '8' %} Agosto
                          {% when '9' %} Septiembre
                          {% when '10' %} Octubre
                          {% when '11' %} Noviembre
                          {% when '12' %} Diciembre
                        {% endcase %}
                        {{ timeline.date_end | date: " %Y" }}
                      {% else %}
                        actualidad
                      {% endif %}
                    </h4>
                    <h4 class="subheading text-muted">{{ timeline.name }}</h4>
                  </div>
                  <div class="timeline-body {{ class2 }}">
                    {{ timeline.content }}                      
                  </div>
                </div>
              </li>
              {% endfor %}

              {% assign mod = site.timelines.length | modulo: 2 %}
              {% if mod == 0 %}
                {% assign class = "wow slideInLeft" %}
              {% else %}
                {% assign class = "timeline-inverted wow slideInRight" %}
              {% endif %}

              <li class="{{ class }}">
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/born-512.png" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Nací en 1994, Madrid (España)</h4>
                  </div>
                </div>
              </li>
            </ul>
           </div>
         </div>
      </div>
    </section>



    <section id="skills" class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Habilidades</h2>
            <h3 class="section-subheading text-muted">"Todo gran viaje comienza con un pequeño paso."</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% for skill in site.data.skills %}

              {% assign mod = forloop.index | modulo: 4 %}
              {% if mod == 0 %}
                {% assign cc = "success" %}
              {% elsif mod == 1 %}
                {% assign cc = "info" %}
              {% elsif mod == 2 %}
               {% assign cc = "warning" %}
              {% elsif mod == 3 %}
                {% assign cc = "danger" %}
              {% endif %}

            <div class="skillbar" role="progressbar" data-percent="{{ skill.score }}%">
              <div class="skillbar-title">{{ skill.name }}</div>
              <div class="skill-bar-percent">{{ skill.score }}%</div>
              <div class="skillbar-bar progress-bar-{{ cc }}" data-percent="{{ skill.score }}%"></div>
            </div>
            {% endfor %}
          </div>
        </div>
       </div>
    </section>

    <section id="portfolio" class="bg-darkest-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Portfolio</h2>
              <h3 class="section-subheading text-muted">"Todo gran viaje comienza con un pequeño paso."</h3>
          </div>
        </div>
        <div class="row portfolio-row">
          {% for portfolio in site.data.portfolio %}
            {% if portfolio.category == "video" %}
              <div data-category="video" class="col-md-4 col-sm-6 col-xs-12 portfolio-item wow bounceInLeft">
                <a target="_blank" class="mg-image embed-responsive embed-responsive-4by3" href="https://www.youtube.com/watch?v={{ portfolio.link }}">
                  {% if portfolio.link contains 'http' %}
                  <iframe class="embed-responsive-item" src="{{ portfolio.link }}"></iframe>
                  {% else %}
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ portfolio.link }}"></iframe>
                  {% endif %}
                </a>
                <div class="portfolio-caption text-center">
                  <h4 class="text-muted">{{ portfolio.name }}</h4>
                  <p>{{ portfolio.description }}</p>
                </div>
              </div>
            {% elsif portfolio.category == "photo" %}
              <div data-category="photo" class="col-md-4 col-sm-6 col-xs-12 portfolio-item wow bounceInLeft">
                <a href="{{ portfolio.link }}" target="_blank" class="mg-image">
                  <img src="{{ portfolio.image }}" class="img-responsive portfolio-image" alt="">
                </a>
                <div class="portfolio-caption text-center">
                  <h4 class="text-muted">{{ portfolio.name }}</h4>
                  <p>{{ portfolio.description }}</p>
                </div>
              </div>
            {% elsif portfolio.category == "gallery" %}
              <div data-category="gallery" class="col-md-4 col-sm-6 col-xs-12 portfolio-item wow bounceInLeft">
                <a href="{{ portfolio.link }}" target="_blank" class="mg-image">
                  <img src="{{ portfolio.image }}" class="img-responsive portfolio-image" alt="">
                </a>
                <div class="portfolio-caption text-center">
                  <h4 class="text-muted">{{ portfolio.name }}</h4>
                  <p>{{ portfolio.description }}</p>
                </div>
              </div>
            {% elsif portfolio.category == "others" %}
              <div data-category="others" class="col-md-4 col-sm-6 col-xs-12 portfolio-item wow bounceInLeft">
                <a href="{{ portfolio.link }}" target="_blank" class="mg-image">
                  <img src="images/{{ portfolio.image }}" class="img-responsive portfolio-image" alt="">
                </a>
                <div class="portfolio-caption text-center">
                  <h4 class="text-muted">{{ portfolio.name }}</h4>
                  <p>{{ portfolio.description }}</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
       </div>
    </section>


    <section id="courses" class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cursos</h2>
            <h3 class="section-subheading text-muted">"Siente, no pienses, usa tu instinto."</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% include courses.html %}
          </div>
        </div>
       </div>
    </section>

    <section id="contact" class="bg-darkest-gray">
      <div class="container">
      <div class="container wow zoomInRight">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contacta conmigo</h2>
            <br/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            {% include contact.html %}
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="copyright">Copyright &copy; {{ site.name }} 2017 - {{ 'now' | date: "%Y" }}</span>
          </div>
        </div>
      </div>
    </footer>




    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/wow/1.1.2/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/script.js"></script>

    <script type="text/javascript">
      new WOW().init();

      $(document).ready(function()
      {
        $('.skillbar').each(function()
        {
          $(this).find('.skillbar-bar').animate({
            width: $(this).attr('data-percent')
          }, {
            duration: 1500,
            specialEasing: {
              width: "easeOutBack"
            }
          });
        });
      });

    </script>

    {% include analytics.html %}
  </body>
</html>
